.button {
  @apply block w-full px-8 py-2 text-xl text-center lowercase transition-colors duration-300 border;
  line-height: 1 !important;

  @screen md {
    @apply inline-block w-auto text-2xl max-w-max;
    line-height: 1 !important;
  }
}

.button-hollow {
  @apply button border-dark-gray text-dark-gray;

  &:hover {
    @apply text-white shadow-sm border-indigo bg-indigo;
  }
}

.button[disabled] {
  @apply text-white shadow-sm opacity-75 cursor-not-allowed border-indigo bg-indigo;
}

.button-loading {
  @apply text-transparent cursor-wait animate-pulse;
  opacity: 1;
}
