.header-nav {
  ul {
    li {
      a {
        &::after {
          display: block;
          content: '';
          @apply border-b-2 border-indigo text-indigo;
          transform: scaleX(0);
          transition: transform 250ms ease-in-out;
          transform-origin: 0% 50%;
        }
        &:hover::after {
          transform: scaleX(1);
        }
        &[aria-current]::after {
          @apply border-b-2 border-indigo text-indigo;
          transform: scaleX(1);
          transition: none;
        }
      }
    }
  }
}
