body {
  font-size: 16px;
  @screen md {
    font-size: 18px;
  }
}

.small-header {
  font-size: 20px;
  line-height: 1;

  @screen md {
    font-size: 45px;
  }
}

.large-header {
  font-size: 25px;
  line-height: 1.1;

  @screen md {
    font-size: 80px;
  }
}

.richtext {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mb-3 font-bold;
  }

  h1 {
    @apply text-5xl;

    @screen md {
      @apply text-6xl;
    }
  }

  h2 {
    @apply text-4xl;

    @screen md {
      @apply text-5xl;
    }
  }

  h3 {
    @apply text-3xl;

    @screen md {
      @apply text-4xl;
    }
  }

  h4 {
    @apply text-2xl;

    @screen md {
      @apply text-3xl;
    }
  }

  h5 {
    @apply text-xl;

    @screen md {
      @apply text-2xl;
    }
  }

  h6 {
    @apply text-lg;

    @screen md {
      @apply text-xl;
    }
  }

  p {
    @apply my-4 text-sm leading-tight;

    @screen md {
      @apply text-base leading-snug;
    }

    @screen lg {
      @apply text-lg;
    }
  }

  ul:not([class]) {
    @apply my-4;

    li {
      @apply relative my-2;
      padding-left: 1.25em;

      &:before {
        @apply bg-current;
        content: '';
        position: absolute;
        width: 10px;
        height: 4px;
        left: 0;
        top: 10px;

        @screen md {
          top: 12px;
        }
      }
    }
  }

  ol:not([class]) {
    @apply my-4 list-decimal list-inside;
  }
}

.wave-mask {
  mask-size: cover;
  -webkit-mask-size: cover;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 400 150"%3E%3Cdefs/%3E%3Cpath fill="#fff" fill-rule="evenodd" d="M248.91 3.07C35.514 18.974.312 5.54.312 5.54l-.29 66.956H0v71.346c58.878 11.737 151.09 3.089 151.09 3.089 213.396-15.906 248.598-2.471 248.598-2.471l.29-66.957H400V6.159C341.122-5.58 248.91 3.069 248.91 3.069z" clip-rule="evenodd"/%3E%3C/svg%3E');
  -webkit-mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 400 150"%3E%3Cdefs/%3E%3Cpath fill="#fff" fill-rule="evenodd" d="M248.91 3.07C35.514 18.974.312 5.54.312 5.54l-.29 66.956H0v71.346c58.878 11.737 151.09 3.089 151.09 3.089 213.396-15.906 248.598-2.471 248.598-2.471l.29-66.957H400V6.159C341.122-5.58 248.91 3.069 248.91 3.069z" clip-rule="evenodd"/%3E%3C/svg%3E');
}
